/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'),
       url('../fonts/kaushan-script-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/kaushan-script-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
       url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'),
       url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto'),
        url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: #333333;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto 100px;
  padding: 0 15px;
}

/* header start */

.header {
  position: relative;
  width: 100%;
  min-height: 1000px;
  padding-top: 20px;
  background: url(../img/bg-min.jpg) center no-repeat;
  background-size: cover;
  background-color: #333333;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #fbe389 0%, #f48b82 100%);
  opacity: 0.9;
  z-index: 1;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 170px;
  z-index: 2;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 60px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link::after {
  content: '';
  position: absolute;
  top: 23px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.nav__link:hover::after, .nav__link.active::after {
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}

.nav__link.active::after {
  content: '';
  top: 23px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
}

/* intro start */

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.intro__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: 0 auto 150px;
  z-index: 3;
  text-align: center;
}

.intro__title {
  font-size: 150px;
  line-height: 0.9;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.intro__title::after {
  content: '';
  display: block;
  margin: 60px auto 50px;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
}

.intro__subtitle {
  margin-bottom: 60px;
  font-size: 72px;
  line-height: 1;
  color: #ffffff;
  font-family: "Kaushan Script";
}

.btn {
  display: inline-block;
  align-self: center;
  min-width: 160px;
  padding: 13px 38px;
  border: 3px solid #ffffff;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #f48b82;
}

.intro__slider {
  position: relative;
  display: flex;
  column-gap: 30px;
  z-index: 3;
}

.slider__item {
  position: relative;
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  opacity: 0.7;
}

.slider__item.active {
  opacity: 1;
  border-color: #fff;
}

.slider__item.active::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  z-index: 2;
}

.slider-dig {
  font-size: 24px;
  font-weight: 700;
}

/* section start */

.section__header {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto 10px;
  text-align: center;
}

.section__subtitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: "Kaushan Script";
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title::after {
  content: '';
  display: block;
  margin: 30px auto 40px;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.section__text {
  font-family: "Roboto";
  color: #999999;
  padding-bottom: 80px;
}

/* about start */

.about {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about__item {
  position: relative;
  width: 100%;
  background-color: #95e1d3;
}

.about__item:hover .about__img {
  transform: translate(-10px, -10px);
}

.about__item:hover .about__img img {
  opacity: 0.1;
}

.about__item:hover .about__content {
  transform: translate(-20px, -30px);
  opacity: 1;
}

.about__img {
  background-image: linear-gradient(to bottom,#f48b82, #fbe389);
  transition: transform 0.1s linear;
}

.about__img img {
  transition: opacity 0.1s linear;
}

.about__content {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.about__text {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

/* facts start */

.facts {
  background-color: #95e1d3;
}

.facts__inner {
  display: flex;
}

.facts__content {
  width: 100%;
  padding: 85px 25px;
  text-align: center;
  color: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.facts__content:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.facts__header {
  font-size: 72px;
  font-weight: 700;
}

.facts__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* services start */

.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  display: flex;
  align-items: flex-start;
  width: 33.33%;
  border-bottom: 1px solid #e5e5e5;
  padding: 40px 0;
}

.services-item:first-child {
  padding-top: 0;
}

.services-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.services__img {
  padding: 0 25px;
}

.services__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
}

.services__text {
  color: #999999;
  font-family: "Roboto";
}

/* services end */